/* HEADER */
.main-header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;

  background: linear-gradient(90deg, #020824, #000);
  backdrop-filter: blur(10px);
}

.header-container {
  max-width: 1200px;
  margin: auto;
  padding: 18px 20px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

/* NAV */
.nav-links a {
  margin: 0 15px;
  color: #fff;
  text-decoration: none;
  font-size: 15px;
}

.nav-links a:hover {
  color: #4da3ff;
}

/* BUTTONS */
.header-buttons {
  display: flex;
  gap: 12px;
}

.btn-outline {
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  padding: 10px 22px;
  border-radius: 10px;
  cursor: pointer;
}

.btn-outline:hover {
  background: rgba(255,255,255,0.1);
}

.btn-primary {
  background: #1f4bff;
  color: #fff;
  padding: 10px 24px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.btn-primary:hover {
  background: #3765ff;
}

.hamburger {
  display: none;
}


/* MOBILE HEADER */
@media (max-width: 900px) {
  .nav-links {
    display: none;
  }
}

/* ===== MOBILE VIEW ===== */
@media (max-width: 768px) {

  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  /* 🔥 Hide normal nav */
  .nav-links {
    position: absolute;
    display: flex;   
    align-items: center;
    top: 66px;
    left: 0;
    width: 100%;
    background: #0b1b44;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 0;

    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: all 0.3s ease;
  }

  /* 🔥 Show when active */
  .nav-links.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }

  .nav-links a {
    color: #fff;
    font-size: 16px;
  }

  /* 🔥 Hide buttons in mobile */
  .header-buttons {
    display: none;
  }

  /* ===== HAMBURGER ===== */
  .hamburger {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
  }

  .hamburger span {
    width: 25px;
    height: 3px;
    background: white;
    border-radius: 2px;
    transition: 0.3s;
  }

  /* 🔥 Animation when open */
  .hamburger.active span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }

  .hamburger.active span:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active span:nth-child(3) {
    transform: rotate(-45deg) translate(6px, -6px);
  }
}